# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Pertemuan1/HalloDunia/nbproject/private/
/Pertemuan1/HalloDunia/build/
/Pertemuan1/latihan 3/nbproject/private/
/Pertemuan1/latihan 3/build/
/Pertemuan1/latihan 2/nbproject/private/
/Pertemuan1/JavaApplication5/nbproject/private/
/Pertemuan1/JavaApplication5/build/
/Pertemuan1/JavaApplication5/dist/
/Pertemuan1/lthn1/nbproject/private/
/Pertemuan1/lthn1/build/
/Pertemuan1/lthn1/dist/
/Pertemuan1/JavaApplication7/nbproject/private/
/Pertemuan1/inputan/nbproject/private/
/Pertemuan1/inputan/build/
/Pertemuan1/inputan/dist/
/Pertemuan1/cobacoba/nbproject/private/
/Pertemuan1/cobacoba/build/
/Pertemuan1/classstring/nbproject/private/
/Pertemuan1/ClassMath/nbproject/private/
/Pertemuan1/Lat/nbproject/private/
/Pertemuan1/Lat/build/
/Pertemuan1/Lat/dist/
/Pertemuan1/JavaApplication12/nbproject/private/
/Pertemuan1/JavaApplication12/build/
/Pertemuan1/sus1/nbproject/private/
/Pertemuan1/sus1/build/
/Pertemuan1/JavaApplication14/nbproject/private/
/Pertemuan1/JavaApplication14/build/
/Pertemuan1/Coba/nbproject/private/
/Pertemuan1/Coba/build/
/Pertemuan1/pcb/nbproject/private/
/Pertemuan1/pcb/build/
/Pertemuan1/SavingAccount/nbproject/private/
/Pertemuan1/SavingAccount/build/
/Pertemuan1/SavingAccounts/nbproject/private/
/Pertemuan1/SavingAccounts/build/
/Pertemuan1/PrisonerTest/nbproject/private/
/Pertemuan1/PrisonerTest/build/
/Pertemuan1/qewqwe/nbproject/private/
/Pertemuan1/qewqwe/build/
/Pertemuan1/TestFX/nbproject/private/
/Pertemuan1/TestFX/build/
/Pertemuan1/TestFX/dist/
/Pertemuan1/TestFX2/nbproject/private/
/Pertemuan1/TestFX2/build/
/Pertemuan1/TestFX3/nbproject/private/
/Pertemuan1/TestFX3/build/
/Pertemuan1/TestFX3/dist/
/Pertemuan1/TestFX4/nbproject/private/
/Pertemuan1/TestFX4/build/
/Pertemuan1/TestFX4/dist/
/Pertemuan1/Tugas/nbproject/private/
/Pertemuan1/Tugas/build/
/Pertemuan1/latihan 2/build/
/Pertemuan1/pewarisan/nbproject/private/
/Pertemuan1/pewarisan/build/
/Pertemuan1/Practice03/nbproject/private/
/Pertemuan1/Practice03/build/
/Pertemuan1/Practice04/nbproject/private/
/Pertemuan1/KelasPractice04/nbproject/private/
/Pertemuan1/newpct4/nbproject/private/
/Pertemuan1/newpct4/build/
